/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  /* regular / 400 > font-face voor de paragraaf*/
  font-family: "expletus";
  src:
    url("../fonts/ExpletusSans-Regular.ttf");
  	font-style: Regular;
    font-weight: 400;
  }

@font-face {
  /* bold / 700 > font-face voor de h2*/
  font-family: "expletus-bold";
  src:
    url("../fonts/ExpletusSans-Bold.ttf"); /*Hiermee leg je een relatief pad om uit het mapje 'styles' te komen. Met 1 punt zit je in css-challenge-typografie. Met het tweede punt kom je in het mapje 'fonts'. Het absolute pad is het benoemen in het mapje dus fonts/expletusSans-bold*/
  font-style: bold;
  font-weight: 700;
}


li:first-of-type {
  padding:1em;
  overflow:auto;
}

li:first-of-type h2 {
  /* JOUW CODE HIER */
  font-family: "expletus-bold", sans-serif;
  font-size: 1.4rem;
}

li:first-of-type p {
  /* JOUW CODE HIER */
  font-family: "expletus", sans-serif;  
  font-size: .7rem;
}

/* hiermee selecteer je de eerste letter van de p in het eerste blokje */
li:first-of-type p::first-letter {
  /* JOUW CODE HIER */
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: bold;
  
}





/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: "montserrat";
  src:
    url("../fonts/Montserrat-Thin.ttf");
  }



/* hiermee selecteer je het tweede blokje */
li:nth-of-type(2) {
  /* custom properties voor tweede blokje */
  --color:hsl(0 0% 100%);
  --background:rgb(0 24 54);
  --shadow:Cyan;
  
  /* met onderstaande regels staat de tekst in het midden */
  /* en elk woord op een nieuwe regel */
  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;
  
  background-color:var(--background);
}

li:nth-of-type(2) h2 {
  margin:0;
  color:var(--color);

  /* JOUW CODE HIER */
  font-family: "montserrat";
  font-size: 2.2rem;
  font-weight: 100;
  line-height: .9em;
  text-transform: uppercase;
  color: var(--color);
  text-shadow:
  0 0 0.1em var(--shadow), /*Eerste getal is voor de schaduw-verplaatsing in de x-as, tweede getal voor de schaduw-verplaatsing in de y-as, het derde getal voor de vervaging in de tekst*/
  0 0 0.2em var(--shadow),
  0 0 0.3em var(--shadow)
  ;
  
}





/******************************/
/* CODE VOOR HET DERDE BLOKJE */
/******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: "saira";
  src: 
    url("../fonts/Saira_Condensed-Bold.ttf");
  font-weight: 700;
}

li:nth-of-type(3) {
  /* custom properties voor derde blokje */
  --color:white;
  --background:rgb(230 127 138);
  --shadow:rgb(0 0 0 / .75);

  /* JOUW CODE HIER */
  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;
  
  background-color:var(--background);  

}

li:nth-of-type(3) h2 {
  /* JOUW CODE HIER */
  font-family: "saira";
  font-size: 2.7rem;
  font-weight: 100;
  line-height: 1.1em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color:var(--color);
  text-shadow: .1em .1em 0 var(--shadow); /*Eerste getal is voor de schaduw-verplaatsing in de x-as, tweede getal voor de schaduw-verplaatsing in de y-as, het derde getal voor de vervaging in de tekst*/
  transform:skewY(-10deg); /*Text wordt met -10 gedraaid in de y-as.*/

}